/*styling of button component*/
#blue{background: blue;padding: 2vw;
      color:white;border:solid;border-radius:20px;font-size:3vw; }
#green{background: green;
      color:white;border:solid;border-radius:20px;padding: 2vw;font-size:3vw;}  
#red{background: red;
      color:white;border:solid;border-radius:20px;padding: 2vw;font-size:3vw;}
#yellow{background: yellow;
      color:black;border:solid;border-radius:20px;padding: 2vw;font-size:3vw;}
#orange{background: orange;
      color:white;border:solid;border-radius:20px;padding: 2vw;font-size:3vw;}
#dark{background: black;
      color:white;border:solid; border-radius:20px;padding: 2vw;font-size:3vw;}
#purple{background: purple;
      color:white;border:solid;border-radius:20px;padding: 2vw;font-size:3vw;}
      
      
      
/*styling of the card component */
.card {
  width: 100%;            
  box-sizing: border-box;
  background: white;
  border-radius: 12px;
  padding: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;margin: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s ease;}
.card:hover {transform: translateY(-5px);}
  .card-header{
    font-size:3vw;
  }
  .card-body{
   font-size: 3vw;
  }
  
  
/* styling of modal component */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalbox {
  background: white;
  width: 90%;
  max-width: 570px;
  padding: 20px;
  border-radius: 10px;
}
.modal-body{
  font-size: 3vh;
}



/* styling of App component */
#main-div{
  text-align: center;
}
#app-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
text-align: center;

  padding: 20px;
  align-items: start; 
}